*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  --poppy: hsla(356, 74%, 52%, 1);
  --cambridge-blue: hsla(132, 27%, 63%, 1);
  --lemon-chiffon: hsla(58, 74%, 85%, 1);
  --light-buff: hsla(45, 36%, 96%, 1);
  --green1: rgb(88, 121, 91);
  --green2: rgb(74, 95, 77);
  --buff: hsla(27, 64%, 65%, 1);
  --bistre: hsla(10, 31%, 19%, 1);
  --off-white: hsla(45, 29%, 97%, 1);
  --background-color: var(--light-buff);
  --accent-color: var(--green1);
  --black: rgb(39, 35, 35);
  background-color: var(--black);
}

.wrapper {
  max-width: min(800px, 100% - 4rem);
  margin-inline: auto;
}

h1 {
  color: var(--off-white)
}

h2 {
  color: var(--off-white)
}

p {
  color: var(--off-white)
}

li {
  color: var(--off-white)
}

.home_title {
  font-size: 40px;
  color: var(--off-white);
  text-align: center;
  font-weight: bold;
}

.photo {
  height: 350px;
  width: 350px;
  align-items: 'center';
  text-align: center;
  display: block;
  justify-content: center;
  margin: auto;
}

.wrapper header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: var(--off-white); font-family: 'Lato', sans-serif; font-size: 45px; font-weight: bold; letter-spacing: -1px; line-height: 1;
  align-items: center;
  text-align: center;
  float: left;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
}

button {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  background: var(--background-color);
}

button:focus,
button:hover {
  background: var(--accent-color);
  color: var(--background-color);
}

.card-title {
  font-size: 16px;
  font-weight: bold;  
  color: var(--off-white)
}

.error-message {
  border: 2px solid var(--buff);
  padding: 1em;
  margin: 1em 0;
  border-radius: 5px;
}

form input {
  display: block;
  margin: .5rem 0 1rem 0;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  border-radius: 5px;
  border: 2px solid var(--accent-color);
  font-size: 1rem;
}

form label {
  margin-left: 1rem;
  margin-top: 1.5rem;
  display: block;
  height: 0;
  width: fit-content;
  position: relative;
  z-index: 1;
}

form label::before,
form label::after {
  content: '';
  position: absolute;
  height: 1.65rem;
  top: -.25rem;
  left: -5px;
  width: calc(100% + 10px);
  border: 2px solid var(--accent-color);
  border-radius: 5px;
  background-color: white;
  z-index: -1;
}

form button {
  margin-right: 1rem;
}

form button[type=button] {
  border-color: var(--background-color);
}

form button[type=button]:focus,
form button[type=button]:hover {
  border-color: var(--accent-color);
}

.home-button {
  background: var(--accent-color);
  color: var(--background-color);
  font-size: 16px;
  font-weight: bold;

}

.home-card {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25) !important;
  margin: 1.5rem;
  padding:0.5rem;
}
nav {
  margin: 0;
  padding-top: 0.5rem;
  background-color: var(--accent-color);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding: 0;
}

nav a {
  color: var(--background-color);
  display: block;
  --padding: 1rem;
  padding: var(--padding);
  text-decoration: none;
  font-weight: bold;
  --border-radius: 15px;
  border-radius: 5px 5px 0 0;
  position: relative;
}

nav a:hover::before,
nav a:focus::before {
  content: '';
  position: absolute;
  width: var(--border-radius);
  height: var(--border-radius);
  border-radius: 0 0 100vw 0;
  box-shadow: 5px 5px 0 5px var(--background-color);
  background-color: var(--accent-color);
  bottom: 0;
  left: calc(var(--padding) * -1 + 1px);
}

nav a:hover::after,
nav a:focus::after {
  content: '';
  position: absolute;
  width: var(--border-radius);
  height: var(--border-radius);
  border-radius: 0 0 0 100vw;
  box-shadow: -5px 5px 0 5px var(--background-color);
  background-color: var(--accent-color);
  bottom: 0;
  right: calc(var(--padding) * -1 + 1px);
}

nav a:hover,
nav a:focus {
  background-color: var(--background-color);
  color: var(--accent-color);
  outline: none;
}

.song-container,
.user-container {
  border: 2px solid var(--accent-color);
  margin: 1rem 0;
  padding: 2rem;
  display: grid;
  border-radius: 5px;
}

.song-container p,
.user-container p {
    margin-bottom: 2.0px;
    font-size: 1.25rem;
    margin-left: 1.5rem;
}

.song-container h2,
.user-container h2 {
    margin: 1.0px;
    font-size: 1.75rem;
}

.add-song-result {
  font-style: italic;
  font-size: 1.0rem;
}

.userHome_title {
  color: var(--off-white); 
  font-family: 'Lato', sans-serif; 
  font-size: 35px; 
  font-weight: bold; 
  text-indent: 30px;
  line-height: 1;
}